In [9]:
import pandas as pd

df=pd.read_csv('adult_dataset.csv')

print(df.head(5))
df.columns

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [10]:
# a. Create data subsets for different Country, Sex, race.  

country_subset=df[df['native-country']=='United-States']
sex_subset=df[df['gender']=='Male']
race_subset=df[df['race']=='White']

print(country_subset.head(5))
print(sex_subset.head(5))
print(race_subset.head(5))

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
5   34    Private  198693          10th                6       Never-married

          occupation   relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct      Own-child  Black   Male             0             0
1    Farming-fishing        Husband  White   Male             0             0
2    Protective-serv        Husband  White   Male             0             0
3  Machine-op-inspct        Husband  Black   Male          7688             0
5      Other-service  Not-in-family  White   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
5              30  United-States  <=50K
   age         workclass  fnlwgt     education  educational-num  \
1   38           Private   89814       HS-grad                9
2   28         Local-gov  336951    Assoc-acdm               12
4   18                 ?  103497  Some-college               10
5   34           Private  198693          10th                6
7   63  Self-emp-not-inc  104626   Prof-school               15

       marital-status       occupation   relationship   race  gender  \
1  Married-civ-spouse  Farming-fishing        Husband  White    Male
2  Married-civ-spouse  Protective-serv        Husband  White    Male
4       Never-married                ?      Own-child  White  Female
5       Never-married    Other-service  Not-in-family  White    Male
7  Married-civ-spouse   Prof-specialty        Husband  White    Male

   capital-gain  capital-loss  hours-per-week native-country income
1             0             0              50  United-States  <=50K
2             0             0              40  United-States   >50K
4             0             0              30  United-States  <=50K
5             0             0              30  United-States  <=50K
7          3103             0              32  United-States   >50K

In [12]:
# b. Merge two subsets  

merged_data=pd.concat([country_subset,sex_subset,race_subset])

print(merged_data.head(5))

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [14]:
# c. Sort Data using customer ratings.  

sorted_data=df.sort_values(by='age')

print(df.head(5))

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [16]:
# d.Transposing Data

transposed_data=df.head(4).T

print(transposed_data)

                                 0                   1                   2  \
age                             25                  38                  28
workclass                  Private             Private           Local-gov
fnlwgt                      226802               89814              336951
education                     11th             HS-grad          Assoc-acdm
educational-num                  7                   9                  12
marital-status       Never-married  Married-civ-spouse  Married-civ-spouse
occupation       Machine-op-inspct     Farming-fishing     Protective-serv
relationship             Own-child             Husband             Husband
race                         Black               White               White
gender                        Male                Male                Male
capital-gain                     0                   0                   0
capital-loss                     0                   0                   0
hours-per-week                  40                  50                  40
native-country       United-States       United-States       United-States
income                       <=50K               <=50K                >50K

                                  3
age                              44
workclass                   Private
fnlwgt                       160323
education              Some-college
educational-num                  10
marital-status   Married-civ-spouse
occupation        Machine-op-inspct
relationship                Husband
race                          Black
gender                         Male
capital-gain                   7688
capital-loss                      0
hours-per-week                   40
native-country        United-States
income                         >50K

In [18]:
# e. Melting Data to long format 

melted_data=pd.melt(df,id_vars=['age'],value_vars=['capital-gain','capital-loss'])

print(melted_data.head(5))

   age      variable  value
0   25  capital-gain      0
1   38  capital-gain      0
2   28  capital-gain      0
3   44  capital-gain   7688
4   18  capital-gain      0

In [19]:
# f. Casting data to wide format  

casted_data=melted_data.pivot_table(index=None,columns='variable',values='value',aggfunc='sum').reset_index()

print(casted_data)

variable  index  capital-gain  capital-loss
0         value      52703821       4273788