In [3]:
import pandas as pd
import numpy as np

cleavl_read=pd.read_csv('./DSBDALExam DataSets/HeartDisease/Cleavland.csv',header=None)
hung_read=pd.read_csv('./DSBDALExam DataSets/HeartDisease/hung.csv',header=None)
switzer_read=pd.read_csv('./DSBDALExam DataSets/HeartDisease/Switzerland.csv',header=None)

column_names = [
    "age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach",
    "exang", "oldpeak", "slope", "ca", "thal", "target"
]
cleavl_read.columns=column_names
hung_read.columns=column_names
switzer_read.columns=column_names
print("Cleveland Data Set", cleavl_read.head(5))
print("Hungarian Data Set", hung_read.head(5))
print("Switzerland Data Set", switzer_read.head(5))

Cleveland Data Set     age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0  63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1  67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2  67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3  37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4  41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4

   slope   ca thal  target
0    3.0  0.0  6.0       0
1    2.0  3.0  3.0       2
2    2.0  2.0  7.0       1
3    3.0  0.0  3.0       0
4    1.0  0.0  3.0       0
Hungarian Data Set    age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak slope ca  \
0   28    1   2      130  132   0       2     185     0      0.0     ?  ?
1   29    1   2      120  243   0       0     160     0      0.0     ?  ?
2   29    1   2      140    ?   0       0     170     0      0.0     ?  ?
3   30    0   1      170  237   0       1     170     0      0.0     ?  ?
4   31    0   2      100  219   0       1     150     0      0.0     ?  ?

  thal  target
0    ?       0
1    ?       0
2    ?       0
3    6       0
4    ?       0
Switzerland Data Set    age  sex  cp trestbps  chol fbs restecg thalach exang oldpeak slope ca  \
0   32    1   1       95     0   ?       0     127     0      .7     1  ?
1   34    1   4      115     0   ?       ?     154     0      .2     1  ?
2   35    1   4        ?     0   ?       0     130     1       ?     ?  ?
3   36    1   4      110     0   ?       0     125     1       1     2  ?
4   38    0   4      105     0   ?       0     166     0     2.8     1  ?

  thal  target
0    ?       1
1    ?       1
2    7       3
3    6       1
4    ?       2

In [4]:
df=pd.concat([cleavl_read,hung_read,switzer_read],ignore_index=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,70.0,1.0,4.0,115,0,0,1,92,1,0,2,?,7,1
716,70.0,1.0,4.0,140,0,1,0,157,1,2,2,?,7,3
717,72.0,1.0,3.0,160,0,?,2,114,0,1.6,2,2,?,0
718,73.0,0.0,3.0,160,0,0,1,121,0,0,1,?,3,1
719,74.0,1.0,2.0,145,0,?,1,123,0,1.3,1,?,?,1

In [8]:
df.replace('?',np.nan,inplace=True)
df.dropna(inplace=True)
df = df.apply(pd.to_numeric)
df.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
target        int64
dtype: object

In [9]:
for col in df.columns:
    df= df[df[col]>=0]

df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
508,47.0,1.0,4.0,150.0,226.0,0.0,0.0,98.0,1.0,1.5,2.0,0.0,7.0,1

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt