**Hepatitis Dataset ML Model Prediction Using Logistic Regression and Naive Bayes**

In [55]:
# Load necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from scipy.stats import zscore

In [56]:
# Load dataset
df = pd.read_csv("../datasets/Hepatitis/hepatitis_csv.csv")
df.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live

In [57]:
# Data Cleaning: Remove missing values and check for negatives
# Replace "?" with NaN and convert data to numeric where needed
df.replace('?', np.nan, inplace=True)

# Drop rows with any NaN values
df.dropna(inplace=True)

# Remove rows with negative values
df = df[(df.select_dtypes(include=[np.number]) >= 0).all(axis=1)]

df.shape

(80, 20)

In [58]:
# Outlier Detection and Removal using Z-Score method
z_scores = np.abs(zscore(df.select_dtypes(include=[np.number])))
df = df[(z_scores < 3).all(axis=1)]

In [59]:
# Data Transformation: Encode categorical variables and scale numerical features
for col in df.select_dtypes(include='object').columns:
    df[col] = LabelEncoder().fit_transform(df[col])

X = df.drop(columns='class')
y = df['class']

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [60]:
# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [61]:
# Logistic Regression model training and evaluation
lr_model = LogisticRegression(max_iter=1000)
lr_model.fit(X_train, y_train)
y_pred_lr = lr_model.predict(X_test)
acc_lr = accuracy_score(y_test, y_pred_lr)
print("Logistic Regression Accuracy:", acc_lr)

Logistic Regression Accuracy: 0.8

In [62]:
# Naive Bayes model training and evaluation
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)
y_pred_nb = nb_model.predict(X_test)
acc_nb = accuracy_score(y_test, y_pred_nb)
print("Naïve Bayes Accuracy:", acc_nb)

Naïve Bayes Accuracy: 0.9333333333333333

In [63]:
# Accuracy Comparison
print(f"Accuracy Comparison:\n  Logistic Regression: {acc_lr:.2f}\n  Naive Bayes: {acc_nb:.2f}")

Accuracy Comparison:
  Logistic Regression: 0.80
  Naive Bayes: 0.93