In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

df=pd.read_csv('heart.csv')

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [2]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [3]:
# a. Data cleaning(Remove NA, ?, Negative values etc.)  

df.replace('?',pd.NA,inplace=True)
df.dropna(inplace=True)

In [4]:
# b. Error correcting(Outlier detection and removal)  

for col in df:
    low=df[col].quantile(0.01)
    high=df[col].quantile(0.99)
    df=df[(df[col]>=low) & df[col]<=high]

In [5]:
# c. Data Transformation

scaler=StandardScaler()
feature=df.drop(['target'],axis=1)
feature_scaled=scaler.fit_transform(feature)

In [6]:
# d. Build Data model using regression and kNN methods and compare accuracy of heart disease prediction.
X= feature_scaled
y=df['target']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

lr=LogisticRegression()
lr.fit(X_train,y_train)
lr_pred=lr.predict(X_test)


knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)
knn_pred=knn.predict(X_test)

print('Accuracy of Logistic Regression:', accuracy_score(y_test,lr_pred))
print('Accuracy of KNN:',accuracy_score(y_test,knn_pred))

Accuracy of Logistic Regression: 0.8097560975609757
Accuracy of KNN: 0.8341463414634146